{% extends "layout/layout.html" %}

{% block data %}
<script id="react-data" data-users="{{users}}"></script>
{% endblock %}

{% block content %}
<div>
  <h1>Users</h1>
  <div id="user-list"></div>
</div>
{% endblock %}
