$header-height: 50px;
$footer-height: 100px;

html, body {
  height: 100%;
}
#page-wrap {
  min-height: 100%;
  margin-bottom: -$footer-height;
}
#page-wrap:after {
  content: "";
  display: block;
}
footer, #page-wrap:after {
  height: $footer-height;
}
