<!doctype html>
<html>
<head>
  <title>title</title>
  {% block data %}{% endblock %}
  <script id="data" data-lang="{{ lang }}" data-user="{{ user }}"></script>
  <link rel="stylesheet" type="text/css" href="/styles/style.css">
</head>
<body>
  <div id="page-wrap">
    {% include "./maintenance.html" %}
    {% include "./header.html" %}
    {% block content %}{% endblock %}
  </div>
  {% include "./footer.html" %}
  <script type="text/javascript" src="/js/script.js"></script>
</body>
</html>
